<!DOCTYPE html>
<html>
    <head>
        <title>Story-Game</title>
        <script src="https://kit.fontawesome.com/88cacf6a0e.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheetradio.css') }}">
    </head>

    <body class="container-fluid">

        <div class="shape-blob"></div>
	    <div class="shape-blob two"></div>
        <img src="{{ url_for('static', filename='images/girl-hi.png') }}" class="hi">

        <p class = "tensed">Hey!! What's up? You seem a bit sad and tensed</p>
        <p class="question">How are you feeling right now?</p>

        <section class="light10">
            <label>
        <input type="radio" id="good" name="question" value="good" required>  <span class="design"></span> <span class="text">Good</span> 
            </label>
            <label>
        <input type="radio" id="bad" name="question" value="bad"> <span class="design"></span> <span class="text">Bad</span>
            </label>
        </section>
        <a href="{{ url_for("home3")}}" class="Next1">Next>></a>
        <audio src="{{ url_for('static', filename='audio/music1.mp3') }}" id="aud" loop autoplay>	
        </audio>
        <img src="{{ url_for('static', filename='images/music.gif') }}" class="audio" onClick="document.getElementById('aud').play(); return false;" ondblclick="document.getElementById('aud').pause(); return false;">
    </body>
</html>